.btn-item {
  color: #1e293b;
}
.btn-style {
  border: none;
  outline: none;
  height: 40vpx;
  width: 85px;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 13px;
  color: #1e293b;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 10px;
  background: transparent;
}
.active-btn-style {
  border: 2px solid #0284c7;
}
